/* Hide scrollbar for Chrome, Safari and Opera */
.app::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox */
}

.app_body {
  margin-top: 2px;
}

.goto {
  background-color: lightgreen;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}
