.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 5%;
  top: 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(179, 179, 179, 0.5);
  margin: auto;
}

.header__top-left {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  justify-content: flex-start;
}

.header__top-title {
  font-size: 60px;
  width: 33.3%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header__top-info {
  display: flex;
  align-items: center;
  width: 33.3%;
  justify-content: flex-end;
}

.header__top-info > span {
  font-weight: 700;
  margin: 0px 5px;
}

.header__top-left > span {
  font-size: 13px;
  font-weight: 600;
}

.header__bottom {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
  height: auto;
  border-bottom: 1px solid #121212;
  cursor: pointer;
}

.header__bottom > span {
  font-size: 20px;
  color: gray;
}

.header__bottom > span:hover {
  color: black;
}

.header__side-menu,
.header__side-menu > .MuiSvgIcon-root,
.header__side-logout {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  .header__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__top-left,
  .header__top-info {
    display: none;
  }

  .header__top-title {
    font-size: 40px;
  }

  .header__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    clip-path: circle(90px at 10% -20%);
    -webkit-clip-path: circle(90px at 10% -20%);
    transition: all 1s ease-in-out;
  }

  .header__bottom.open {
    clip-path: circle(1000px at 0% -2.9%);
    -webkit-clip-path: circle(1000px at 0% -2.9%);
    z-index: 2;
  }

  .header__side-logout {
    display: flex;
  }

  .header__side-menu {
    display: initial;
    margin: 2px;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
  }
}
