.login {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.login__logo {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login__logo > h5 {
  opacity: 0.4;
}

.login > button {
  width: 300px;
  background-color: black;
  color: whitesmoke;
  font-weight: 800;
}

.login > button:hover {
  color: gray;
}
