.times {
  align-items: stretch;
  margin: auto;
  margin-top: 15px;
  padding: 0 5%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-wrap: break-word;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  gap: 25px;
}
